<div action="#">
  <div class="allowed-detection-modes">
  </div>

  <footer class="sheet-footer flexrow">
    <button type="submit" name="submit"><i class="fas fa-save"></i>
      {{localize "SETTINGS.Save"}}</button>
    {{!-- <button type="button" name="reset"><i class="fas fa-undo"></i> {{localize 'SETTINGS.Reset'}}</button> --}}
  </footer>
</div>
